#objectives-table-bizops {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td {
    border: 0;
    border-right: 2px solid #dddddd;
    text-align: left;
    padding: 8px 25px 8px 8px;
    width: 25%;
  }

  th {
    border: 0;
    border-right: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 25%;
  }

  td:last-child,
  th:last-child {
    border: 0;
  }
}

.i-bt {
  font-size: 70px;
  color: #554488;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-link-title::before {
  height: auto;
  margin: 0;
}

#biz-tech-icons {
  color: #FA7035;
}

.grid-auth-matrix {
  display: grid;
  grid-template-columns: repeat(11, auto);
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  overflow-x: auto;
}

.item-auth-matrix:nth-child(-n+3) {
  border-top: 1px solid #ddd;
}

.item-auth-matrix:nth-child(1) {
  border-top: 0px;
}

.item-auth-matrix {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 13px;
  padding: 3px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.treasury-auth-matrix {
  display: grid;
  grid-template-columns: 300px 90px;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  border-right: 1px solid #ddd;
  width: 391px;
}

.tr-auth-matrix {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 13px;
  padding: 3px 3px 3px 0px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 45px;
}

.tr-auth-matrix:nth-child(2) {
  border-top: 1px solid #ddd;
}

.grid-empty {
  border-left: 0px;
}

.limit-width {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.grid-item-small {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 45px;
  display: flex;
}

.grid-item-large {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 2px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-empty {
  background-color: #ffffff;
  border: 0px;
  text-align: center;
  height: 30px;
  font-size: 25px;
}