.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2.margin-top0 Why integration matters for DevSecOps
    %ul
      %li
        %strong Every piece of code
        is tested upon commit for security threats, without incremental cost.
      %li
        %strong The developer
        can remediate now, while they are still working in that code, or create an issue with one click.
      %li
        %strong The security pro
        can see and manage unresolved vulnerabilities captured as a by-product of software development.
      %li
        %strong Single source of truth
        can focus collaboration on remediation, eliminating translation and finger pointing.
      %li
        %strong  A single tool
        reduces cost to buy, integrate and maintain point solutions throughout the DevOps pipeline.
%hr.divider
